html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root, #map, #mapUI {
  width: inherit;
  height: inherit;
  background-color: lightblue;
  background: hsla(0,100%,100%,0.8);
}
/*.filterSubwayLines {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 200px;
  height: auto;
  background: hsla(0,100%,100%,0.8);
  margin: 10px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.filterSubwayLines hr {
  border: 1px solid #000;
  margin: 5px;
}
.filterSubwayLines h3 {
  margin-top: 0;
  padding-left: 5px;
}
.filterSubwayLines p {
  padding-left: 5px;
}
.filterSubwayLines select {
  display: block;
  margin: 0 auto;
}*/
